.main-content {
  max-width: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.main-content-wrap {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.side-bar {
  width: 5px;
}

.main {
  margin-left: 220px;
}